body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: lightgray; /* Light beige background */
}

.header {
  background-color: gray; /* Blue header */
  color: #000000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}
.header img {
  height: 100px;
}

.bank-logo-small {
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin-right: 20px;
  font-weight: bold;
}

.bank-name {
  flex-grow: 1;
  text-align: center;
}

.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 200px;
  margin-right: 20px;
}

.nav-button {
  display: block;
  background-color: #007bff; /* Light pink */
  color: black;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 300px;
}

.nav-button:hover {
  background-color: red; /* Darker pink on hover */
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bank-image {
  max-width: 100%;
  height: 400px;
  padding-left: 500px;
}

.footer {
  background-color: darkgoldenrod; /* Blue footer */
  color: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}