body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:lightgray; /* Light beige background */
}

.header {
    background-color:gray; /* Blue header */
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}
.header img{
    height: 100px;
}

.bank-logo-small {
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin-right: 20px;
    font-weight: bold;
}

.bank-name {
     flex-grow: 1;
    text-align: center;
}


.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bank-image {

    height: 400px;
    padding-left: 500px;
    margin-top:30px;
    margin-right: 400px;
}

.sig{
    margin-top: 80px ;
    margin-left: 150px;
    float: left;
}
.sig table{
    height: 250px;
    background-color:lightblue;
}

.footer{
    background-color:darkgoldenrod; /* Blue footer */
    color:black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 35px;
}
